<!DOCTYPE html>
<html>
  <head>
    <title>Autor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autor </h1>
    <p>Carlos J. Escudero</p>
    <p><img width=200px src='images/smile.jpg'></p>
  </body>
</html>
